div#spacer {
    width: 1280px;
    height: 157px;
    
    margin: 0 auto;
    
    background-color: red;

}

section.mock-up{    
    width: 1280px;
    height: 1000px;
    
    margin: 0 auto;
    
    background-color: ;

}


footer {
    position: relative ;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: #ffcb0a;
}

/*-------- FOOTER TABS --------*/

.tabs {
    position: absolute;
    bottom: 485px;
    right: 0;
    left: 0;
    
    width: 1280px; 
    min-height: 135px; /* This part sucks */
    margin: 0 auto;
}

.tab {
    display: inline-block;
}

.tab label {
    position: relative;
    
    padding: 10px 20px; 
    margin-left: 20px; 
          
    cursor: pointer;
    
    font-family: 'Fredoka One', cursive;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #e6e7e8;
}

label.tab-1 {
    position: absolute;
    
    padding-bottom: 60px;
    
    top: -50px;
    left: 67px;
    
    background: #7da4dd;
    
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
}

.tab-1 span {
    display: inline-block;
    
    -webkit-transform: skewY(2deg);
    -moz-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    -o-transform: skewY(2deg);
    transform: skewY(2deg);
}

label.tab-2 {
    position: absolute;
    
    padding-bottom: 40px;
    
    top: -28px;
    left: 244px;
    
    background: #3b5cad;
    
    -webkit-transform: skewY(1deg);
    -moz-transform: skewY(1deg);
    -ms-transform: skewY(1deg);
    -o-transform: skewY(1deg);
    transform: skewY(1deg);
}

.tab-2 span {
    display: inline-block;
    
    -webkit-transform: skewY(-1deg);
    -moz-transform: skewY(-1deg);
    -ms-transform: skewY(-1deg);
    -o-transform: skewY(-1deg);
    transform: skewY(-1deg);
}

label.tab-3 {
    position: absolute;
    
    padding-bottom: 50px;
    
    top: -40px;
    left: 516px;
    
    background: #ff4338;
    
    -webkit-transform: skewY(2deg);
    -moz-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    -o-transform: skewY(2deg);
    transform: skewY(2deg);
} 

.tab-3 span {
    display: inline-block;
    
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
}

label.tab-4 {
    position: absolute;
    
    padding-bottom: 40px;
    
    top: -28px;
    left: 686px;
    
    background: #ff8300;
    
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
}

.tab-4 span {
    display: inline-block;
    
    -webkit-transform: skewY(2deg);
    -moz-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    -o-transform: skewY(2deg);
    transform: skewY(2deg);
}

label.tab-5 {
    position: absolute;
    background: #85b443;
    
    padding-bottom: 40px;
    
    top: -35px;
    
    left: 854px;
    
    -webkit-transform: skewY(1deg);
    -moz-transform: skewY(1deg);
    -ms-transform: skewY(1deg);
    -o-transform: skewY(1deg);
    transform: skewY(1deg);
} 

.tab-5 span {
    display: inline-block;
    
    -webkit-transform: skewY(-1deg);
    -moz-transform: skewY(-1deg);
    -ms-transform: skewY(-1deg);
    -o-transform: skewY(-1deg);
    transform: skewY(-1deg);
}

.tab [type=radio] {
    display: none;   
}

.content {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 100px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.25em;
    
    color: white;
}

[type=radio]:checked ~ label {
    z-index: 2;
    
    color: white;
}

[type=radio]:checked ~ label ~ .content-1 {
    z-index: 1;
    background: #7da4dd; 
}

[type=radio]:checked ~ label ~ .content-2 {
    z-index: 1;
    background: #3b5cad; 
}

[type=radio]:checked ~ label ~ .content-3 {
    z-index: 1;
    background: #ff4338; 
}

[type=radio]:checked ~ label ~ .content-4 {
    z-index: 1;
    background: #ff8300; 
}

[type=radio]:checked ~ label ~ .content-5 {
    z-index: 1;
    background: #85b443; 
}
/*-------- FOOTER TABS END --------*/

/*-------- BOTTOM FOOTER --------*/

div#bottom-footer {
    margin: 0 auto;
    
    width: 1280px;
    height: 485px;
    
    
    background-color: #ffcb0a;
}

section.footer-info,
section.footer-address{
    display: inline-block;
    margin: 50px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 2em;
}

section.footer-info a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

section.footer-info a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.8);
}

/*-------- BOTTOM FOOTER END --------*/
























